body {
    margin: 0;
    background-color: hsl(0, 0%, 13%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

#gameContainer {
    border: 1px solid #10e709
}

h1 {
    color: #10e709;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1rem;
}